table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial;
}

td {
    border: 1px solid black;
    padding: 8px;
}

td:first-child {
    font-weight: bold;
}

h1 {
    font-size: 40px;
    font-family: Arial;
}

h2 {
    font-size: 25px;
    font-family: Arial;
}

h3 {
    font-family: Arial;
}

p {
    font-size: 14px;
    font-family: Arial;
}